<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page</title>
</head>
<body>
    <h1>저와 제 코드리뷰 짝을 소개합니다!!</h1>
    <h2>Me</h2>
    이름: {{Me.name}}<br>
    나이: {{Me.age}}<br>
    전공: {{Me.dept}}<br>
    깃허브 링크: <a href="{{Me.github}}">@only4wxx</a>
    <h2>My Code Reviewer</h2>
    이름: {{Reviewer.name}}<br>
    나이: {{Reviewer.age}}<br>
    전공: {{Reviewer.dept}}<br>
    깃허브 링크: <a href="{{Reviewer.github}}">@Yeahcold</a>
</body>
</html>